@model PublicationManagement.Model.Publishmodel.FacultyPublishingModel

@{
    ViewData["Title"] = "newpublish";
}

<h1>newpublish</h1>

<h4>FacultyPublishingModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="newpublish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Publicationdetail" class="control-label"></label>
                <input asp-for="Publicationdetail" class="form-control" />
                <span asp-validation-for="Publicationdetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publishername" class="control-label"></label>
                <input asp-for="Publishername" class="form-control" />
                <span asp-validation-for="Publishername" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PublisherType" class="control-label"></label>
                <input asp-for="PublisherType" class="form-control" />
                <span asp-validation-for="PublisherType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
